:root {
  --bg-color: #f7f7f7;
  --primary-color: #fff;
  --secondary-color: #b5b4b4ac;
  --text-color: #111111;
}

html,
body,
#__next {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
  color: orange;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    --bg-color: #111111;
    --text-color: rgb(250, 250, 250);
    --primary-color: #343434;
  }
}
