.container {
  height: 100%;
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  font-size: 2rem;
}

.mainContainer {
  height: 70%;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.currentDate {
  min-width: 15rem;
}

.times {
  margin-top: 2rem;
  padding: 2rem 1.5rem;
}

.prayerTimeCard {
  display: flex;
  justify-content: space-between;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.headerContainer svg {
  margin: 0 1rem;
}

.headerContainer button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
