.container {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  font-size: 2rem;
}

.mainContainer {
  height: 90%;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.mainContainer header {
  background-color: #343434;
  border-radius: 5px;
  padding: 1rem;
}

.mainContainer .innerContainer {
  display: flex;
  justify-content: space-between;
}

.dateControl {
  margin: 1rem 0;
  background-color: #343434;
  border-radius: 5px;
}

.innerContainer svg {
  width: max(90px, 20%);
}

.currentDate {
  min-width: 15rem;
}

.times {
  margin-top: 2rem;
}

.prayerTimeCard {
  display: flex;
  justify-content: space-between;
}
